{% extends "accounts/dashboard.html" %}


{% block breadbrumb %}
	{{ block.super }}
	<li>/</li>
	<li><a href="{% url 'edit' %}"></a>Editar Conta</li>
{% endblock %}

{% block dashboard_content %}

<div class="pure-u-2-3">
            <div class="inner">
                <form class="pure-form pure-form-stacked" method='post'>
                    {% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="pure-control-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                            {% if sucess %}
                            <h3>Você atualizou os dados com sucesso!</h3>
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}